@import url(../../../colors.css);

.moviePage {
  color: var(--text-secondary);
  margin: 30px auto;
  width: 1400px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moviePoster {
  margin-right: 100px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}