@import url('../../../colors.css');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 0 4rem;
}

.navbarLogo {
  height: 100%;
  font-size: 2.5rem;
}

.navbarLogoIcon {
  fill: var(--clr-white);
  height: 100%;
  vertical-align: middle;
}

.iconsHolder {
  height: 100%;
  display: flex;
  align-items: center;
}

.mainIcon {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  height: 2rem;
}

.linksSidebar {
  display: none;
}

.themeIcon {
  font-size: 1.5rem;
  vertical-align: middle;
}

