@import url(../../../colors.css);

.movieLink {
  width: 320px;
  text-transform: uppercase;
  animation: show 1.2s forwards;
  opacity: 0;
}
.movieLink img {
  width: 300px;
  height: 500px;
}
.movieLink:hover {
  cursor: pointer;
  scale: 1.01;
}

.movieLink:hover h1 {
color: var(--clr-gold);
}

.movieLink:active {
  scale: 0.99;
}

.movieBox {
  padding: 10px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-lightBlue);

}

.movieInfo {
  margin-top: 10px;
  padding: 10px;
  color: var(--text-primary);
}
.movieTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}