@import url(../../../colors.css);




.loginFormWrapper {
  max-height: 500px;
  max-width: 600px;
  min-width: 300px;
  padding: 60px;
  margin: 50px auto;
  width: 60%;
  background-color: var(--clr-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.loginFormWrapper h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm > input {
  width: 95%;
  height: 42px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font: 1rem sans-serif;
  font-weight: 700;
  color: var(--clr-primary-40);
  margin-bottom: 2rem;
  background-color: var(--clr-secondary-100);
}

.label {
  order: -1;
  color: var(--clr-primary-40);
  position: absolute;
}

.label[for="email"] {
  top: 10px;
  left: 20px;
}

.label[for="password"] {
  top: 82px;
  left: 20px;
}
.input:focus {
  border: 1px solid var(--clr-primary);

}

.input:focus + label[for="email"] {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  font-size: 0.6rem;
  padding: 5px;
  top: -12px;
  border-radius: 5px;
  transition: all .4s;
}

.input:focus + .label[for="password"] {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  font-size: 0.6rem;
  padding: 5px;
  top: 60px;
  border-radius: 5px;
  transition: all .4s;
}

.button {
  padding: 1em;
  border-radius: 10px;
  margin-top: 10px;
}

.loginButton {
  background-color: var(--clr-secondary-100);
  font: 1rem sans-serif;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  border: 1px solid var(--clr-secondary);
  transition: all .2s;
}

.decorationLine {
  width: 85%;
  border-bottom: 1px solid var(--clr-secondary);
}
