@import url(../colors.css);

.dashboard {
  position: relative;
  margin-inline: auto;
  height: 600px;
  width: min(80vw,900px);
  background-color: var(--clr-primary-20);
  border-radius: 25px;
  color: var(--clr-primary);
  display: flex;
}

.leftSide {
  margin: 2rem 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftProfile {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.leftProfile img {
  border-radius: 999px;
  margin-bottom: 5px;
}

.leftProfile span {
  text-align: center;
  font-size: 0.8rem;
  color: var(--clr-primary);
}

.leftSideLinks {
  margin: 2rem 0;
  font-size: 1rem;
}

.leftSideLinks * {
  color: var(--clr-primary);
  fill: var(--clr-primary);
  stroke: var(--clr-primary);
}

.leftSideLinks ul li:hover {
  cursor: pointer;
}

.listIcons {
  margin-right: 10px;
  vertical-align: middle;
}
.logout {
  font-weight: 700;
  font-size: 1rem;
}
.logout:hover {
  cursor: pointer;
}

.rightSide {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  height: 100%;
  width: 80%;
  background-color: var(--clr-secondary-60);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.rightSide h3 {
  font-size: 1rem;
}


.likedMovies {
  color: var(--clr-primary);
  padding: 10px;
  height: 300px;
  width: 100%;
  background-color: var(--clr-primary-40);
  border-radius: 10px;
}
.watchLater {
  color: var(--clr-primary);
  padding: 10px;
  height: 300px;
  width: 100%;
  background-color: var(--clr-secondary-20);
  border-radius: 10px;
}


.engagementCard {
  color: var(--clr-secondary);
  padding: 10px;
  grid-column: span 2;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
  border-radius: 10px;
}
.likedMoviesFrame {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.likedMovieCard {
  width: 90%;
  height: 56px;
  background-color: var(--clr-primary-60);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-primary);
}
.likedMovieCard span {
  font-size: 0.8rem;
}


@media only screen and (max-width: 790px) {
  .dashboard{
    flex-direction: column;
    height: 100%;
  }
  .leftSide {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 20%;
    margin: 1rem;
  }
  .leftSide h3{
   display: none;
  }
  .leftProfile {
    margin-top: 0;
  }
  .rightSide {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .likedMovies {
    height: 220px;
    padding-bottom: 15px;
  }
  .likedMovieCard {
    height: 80px;
  }
  .likedMovieCard h5 {
    font-size: large;
  }
  .watchLater{
    height: 300px;
  }
  .engagementCard {
    height: 200px;
  }
}

