@import url(../../../colors.css);

.searchBox {
  position: absolute;
  top:50px;
  left:0;
  right: 0;
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchForm {
  position: relative;
}
.searchForm > input {
  height: 56px;
  width: 400px;
  font: 700 1em sans-serif;
  padding-left: 24px;
  padding-right: 100px;
  border-radius: 16px;
  background-color: var(--clr-white);
}
.searchForm > button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  width: 80px;
  height: 56px;
  background-color: var(--clr-white);
  border: 2px solid var(--clr-gold);
  font: 1rem sans-serif;
  font-weight: 700;
  border-radius: 16px;
}
.searchForm > button:hover {
  background-color: var(--clr-gold);
}

.searchForm > input:focus {
  padding: 1.4rem;
  border: 3px solid var(--clr-gold);
}

@media only screen and (max-width: 600px) {

  .searchBox {
    padding: 0 2rem;
  }

  .searchForm > input {
    width: 100%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}