:root {
  --bg-color: #fff;
  --navbar-bg-color: rgba(51,51,51,0.9);
  --footer-bg-color: rgba(51,51,51,1);
  --form-bg-color: #E63946;
  --text-primary: #fff;
  --text-secondary: #000;
  --btn-primary: #457B9D;
  --btn-secondary: #A8DADC;
  --btn-warning: #E63946;
  --login-btn: #fff;
  --registration-btn: #42B72A;
  --clr-gold: #ffc45e;
  --clr-gray: #81807f;
  --clr-white: #e8e8e8;
}

.dark-mode {
  --bg-color:#333;
  --text-primary: #fff;
  --text-secondary: #fff;
  transition: all .2s;
}